<div class="container-fluid bg-footer px-0">
  <footer class="pt-5">
    <div class="row justify-content-around text-center w-100">
      <div class="col-6 col-md-2 mb-3">
        <h5>Tentang Kami</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Profil</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Lokasi</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Artikel</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pengertian</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ciri-ciri</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Akibat</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Hubungi Kami</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Telephone / WhatsApp</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">0812-0987-3425</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jam Kerja 08.00 - 23.00</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center border-top bg-cp py-1">
      <p class="text-white my-0">&copy; 2023 Company, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>