<nav class="navbar navbar-expand-md navbar-dark bg-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/images/logo.png" class="img-fluid" width="55%" alt="Responsive image"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExample04" >
      <ul class="navbar-nav tengah-nav mb-2 mb-md-0">
        <li class="nav-item ms-2">
          <a id="home" class="nav-link fs-5 fw-bold" aria-current="page" href="/">Beranda</a>
        </li>
        <li class="nav-item ms-2">
          <a id="artikel-nav" class="nav-link fs-5 fw-bold" href="/#artikel">Artikel</a>
        </li>
        <li class="nav-item ms-2">
          <a id="tentang" class="nav-link fs-5 fw-bold" href="/tentang">Tentang</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const currentPath = window.location.pathname;
  if(currentPath === "/"){
    $( "#home" ).addClass( "active" )
  }
  else if(currentPath === "/artikel"){
    $( "#artikel-nav" ).addClass( "active" )
  }
  else if(currentPath === "/tentang"){
    $( "#tentang" ).addClass( "active" )
  }
</script>