/*footer*/
html *
{
   font-family: Poppins !important;
}

.bg-footer {
	background-color: #53A8B6;
}

.bg-cp {
	background-color: #79C2D0;
}

/*navbar*/
.bg-navbar {
	background-color: #53A8B6;
}

/*background*/
.bg-abu-terang {
	background-color: #d9d9d9;
}

.bg-abu-gelap {
	background-color: #838383;
}

.tengah{
	--panjang: 100%
}

.tengah-nav{
	margin-left: auto;
	margin-right: auto;
	transform: translateX(-75%);;
}
.btn-color{
	background-color:#79C2D0 ;
}
.txt_justify{
	text-align: justify;
	text-justify: inter-word;
}

/* .btn-outline{
	outline-offset: ;
} */