/*footer*/
.bg-footer {
	background-color: #d9d9d9;
}

.bg-cp {
	background-color: #838383;
}

/*navbar*/
.bg-navbar {
	background-color: #838383;
}

/*background*/
.bg-abu-terang {
	background-color: #d9d9d9;
}

.bg-abu-gelap {
	background-color: #838383;
}