<!doctype html>
<html lang="id">
  
  <%- include('../partials/head.ejs') %>
    <title>Home</title>
    <link href="/css/global.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container-fluid px-0">
      <div class="bg-abu-terang">
        <div class="py-5">
          <h2 class="text-center fw-bold">Sistem Pakar Screening ADHD</h2>
          <h2 class="text-center fw-bold">( Attention Deficit Hyperactivity Disorder )</h2>
        </div>
        <div class="d-flex justify-content-center pb-5 pt-4">
          <a href="/screening" class="btn btn-lg btn-secondary fw-bold">Mulai Konsultasi</a>
        </div>
      </div>
      <div class="container mb-5">
        <h3 class="text-center fw-bold my-5">FAQ</h3>
        <h4>Pertanyaan Umum:</h4>
        <div class="container">
          <p class="fw-bold">Apa itu ADHD?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p class="fw-bold">Bagaimana ciri - ciri anak ADHD?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p class="fw-bold">Kenapa harus melakukan screening?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scriptCdn.ejs') %>
  </body>

</html>