<!doctype html>
<html lang="id">
  
  <%- include('../partials/head.ejs') %>
    <title>Home</title>
    <link href="/css/global.css" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container-fluid px-0">
      <div class="container-fluid px-0">
      <div class="bg-image">
        <img fluid src="/images/abg.png" width="100%" height="550">

        <div class="bg-text pt-5">
          <h2 class="text-center fw-bold">Sistem Pakar Screening ADHD</h2>
          <h2 class="text-center fw-bold">( Attention Deficit Hyperactivity Disorder )</h2>
          <div class="d-flex justify-content-center pb-5 pt-4">
            <a href="/screening" class="btn btn-lg btn-success fw-bold">Mulai Konsultasi</a>
          </div>
      </div>
        
      </div>
    </div>
      <div class="container mb-5">
        <h3 class="text-center fw-bold my-5">FAQ</h3>
        <h4>Pertanyaan Umum:</h4>
        <div class="container">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Apa itu ADHD?
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body justify-content-center">Attention Deficit / Hyperactivity Disorder (ADHD) merupakan gangguan 
                  perkembangan otak  yang paling umum di diagnosis di antara anak-anak usia sekolah. Gangguan ini 
                  ditandai oleh kesulitan dalam memusatkan perhatian disertai hiperaktif dan impulsif, yang muncul 
                  sebelum usia 12 tahun, minimal dalam 2 lingkungan tempat yang berbeda, misalnya di rumah dan di sekolah.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Bagaimana ciri anak ADHD?
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body justify-content-center">
                  Ciri-ciri umum anak ADHD adalah impulsif, agresif, tidak kompeten dan hiperaktif jika tidak segera 
                  diperbaiki dapat mempengaruhi perkembangan emosi, perilaku dan sosial anak. Masalah belajar yang umum 
                  terjadi pada anak ADHD usia sekolah dasar adalah kurang minat belajar, daya ingat buruk, anak tidak 
                  tertarik belajar, dan kurang konsentrasi/perhatian.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Kenapa harus melakukan screening?
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body justify-content-center">
                  Dengan melakukan screening orang tua, keluarga, ataupun masyrakat dapat mendeteksi ADHD lebih awal dan mengetahui
                  kapan harus datang kerumah sakit agar dapat mengurangi tindak kekerasan terhadap anak - anak yang mengalami ADHD.
                  Karna masyarakat berasumsi bahwa anak ADHD adalah anak yang nakal. 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="artikel" class="wrapper mb-5">
          <div class="container-fostrap">
              <div>
                  <h2 class="text-center fw-bold mb-5">Artikel</h2>
              </div>
              <div class="content">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="/artikel/1">
                                  <img src="/images/art1.jpg" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="/artikel/1" style="text-align: justify">
                                            ADHD, Gangguan Mental yang Sering Dialami Anak Milenial
                                          </a>
                                      </h4>
                                      <p class="" style="text-align: justify">
                                        Tidak hanya pada orang dewasa, nyatanya gangguan kesehatan mental juga dapat 
                                        dialami oleh anak-anak yang akan beranjak dewasa. Berbagai gangguan kesehatan 
                                        sangat rentan dialami oleh anak-anak yang masuk kategori milenial, misalnya 
                                        gangguan...
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <div class="d-grid">
                                        <a href="/artikel/1" class="btn btn-color btn-outline-info text-white">
                                            Read More
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="/artikel/2" >
                                  <img src="/images/art2.jpg" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="/artikel/2"style="text-align: justify">
                                            Jangan Keliru! Kenali perbedaan ADHD dengan Autisme pada anak
                                          </a>
                                      </h4>
                                      <p class=""style="text-align: justify">
                                        Sekitar 10% anak sekolah mengalami ADHD, tapi gangguan ini masih sulit dikenali karena tak jarang orang menganggap ADHD 
                                        sama dengan autisme. Padahal jelas, keduanya gangguan yang berbeda.Dilansir dari National Institute of Mental Health, ADHD 
                                        terjadi.....
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <div class="d-grid">
                                        <a href="/artikel/2" class="btn btn-color btn-outline-info text-white">
                                            Read More
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="card">
                                  <a class="img-card" href="/artikel/3">
                                  <img src="/images/art3.jpg" />
                                </a>
                                  <div class="card-content">
                                      <h4 class="card-title">
                                          <a href="/artikel/3" style="text-align: justify">4 Tips untuk Orang Tua Agar Anak dengan ADHD Memiliki Motivasi dan Fokus
                                        </a>
                                      </h4>
                                      <p class=""style="text-align: justify">
                                        Salah satu masalah utama yang dihadapi oleh anak dengan Attention Deficit Hyperactivity Disorder (ADHD) adalah kesulitan untuk 
                                        termotivasi dan fokus. Kesulitan tersebut dapat menghambat tugas anak dengan ADHD di sekolah, rumah, dan lingkungannya lainnya...
                                      </p>
                                  </div>
                                  <div class="card-read-more">
                                      <div class="d-grid">
                                        <a href="/artikel/3" class="btn btn-color btn-outline-info text-white">
                                            Read More
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scriptCdn.ejs') %>
  </body>

</html>