<!doctype html>
<html lang="id">
  
  <%- include('../partials/head.ejs') %>
    <title>Tentang</title>
    <link href="/css/global.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>
    <main class="container">
      <h1 class="text-center fw-bold my-5">Tentang</h1>
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <img class="d-none d-md-block mx-5" src="/images/rsj.jpg" alt="gambar" width="300" height="200">
        </div>
        <div class="flex-grow-1">
          <h4 class="fw-bold">Profil</h4>
          <img class="d-block d-md-none text-center" src="/images/adhd.jpeg" alt="gambar" width="300" height="200">
          <p class="border-top border-secondary border-3 txt_justify">Rumah Sakit Jiwa Daerah Provinsi Lampung pertama kali didirikan dengan nama Rumah Sakit Jiwa Pusat Bandar Lampung, yang berdasarkan Surat Penunjukan Direktur Jendral Pelayanan Kesehatan DEPKES RI Nomor 1565/Yankes/DKJ/1983, Tanggal 01 Maret 1990 Rumah Sakit Jiwa Pusat Bandar Lampung mulai berfungsi.
            Pada tahun 2001 Rumah Sakit Jiwa Pusat Bandar Lampung diserahkan oleh Pemerintah Pusat kepada Pemerintah Daerah berdasarkan Surat Menteri Negara Pendayagunaan Aparatur Negara Nomor 79/D.
            Gubernur Lampung Nomor 03 Tahun 2001 dengan nama UPTD Dinas Kesehatan Rumah Saikt Jiwa Provinsi Lampung.
            Pada tanggal 05 April 2013 Rumah Sakit Jiwa Daerah Provinsi Lampung telah menerapkan PPK-BLUD Berdasarkan Keputusan Gubernur Lampung Nomor: G/358/B.</p>
        </div>
      </div>
      <div class="row gap-5 justify-content-between my-4">
        <div class="col-12 col-md-5">
          <h4 class="fw-bold">Visi</h4>
          <p class="border-top border-secondary border-3 txt_justify">Rumah Sakit Jiwa Daerah Provinsi Lampung Sebagai Pusat Rujukan Kesehatan Jiwa Unggul dan Berkeadilan</p>
        </div>
        <div class="col-12 col-md-5">
          <h4 class="fw-bold">Misi</h4>
          <p class="border-top border-secondary border-3 txt_justify">
            Meningkatkan Pelayanan Kesehatan Jiwa Spesialistik, 
            Meningkatkan Pelayanan Kesehatan Jiwa Masyarakat,          
            Menyelenggarakan Pendidikan, Penelitian dan Pengembangan Bidang Kesehatan Yang Unggul dan Profesional</p>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/scriptCdn.ejs') %>
  </body>

</html>